---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gis-team-sa
  namespace: gis-team
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: workflow-creator
  namespace: gis-team
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflows
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sensor-workflow-creator
  namespace: gis-team
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: workflow-creator
subjects:
  - kind: ServiceAccount
    name: gis-team-sa
    namespace: gis-team