apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  generateName: spark-
  namespace: gis-team
spec:
  arguments:
    - "https://github.com/SBylemans/spark-create-iceberg.git"
    - "src/spark-create-iceberg/src/main/java/resources/test.yaml"
  type: Java
  mode: cluster
  image: ghcr.io/sbylemans/spark-create-iceberg:latest
  imagePullPolicy: Always
  mainClass: be.bylemans.Main
  mainApplicationFile:  local:///opt/spark/spark-create-iceberg.jar
  sparkVersion: "3.5.7"
  driver:
    cores: 1
    coreLimit: "1200m"
    memory: "512m"
    labels:
      version: 3.5.7
  executor:
    cores: 1
    instances: 1
    memory: "512m"
    labels:
      version: 3.5.7
  hadoopConf:
    "fs.s3.connection.timeout": "6000"
    "fs.s3.endpoint": http://minio:11000
    "fs.s3.access.key": local-access
    "fs.s3.secret.key": local-secret
    "fs.s3.path.style.access": "true"
    "fs.s3.impl": org.apache.hadoop.fs.s3a.S3AFileSystem
    "fs.s3.aws.credentials.provider": org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider
  sparkConf:
    "spark.executor.extraJavaOptions": "-Dcom.amazonaws.services.s3.enableV4: true -Daws.region: us-east-1"
    "spark.driver.extraJavaOptions": "-Dcom.amazonaws.services.s3.enableV4: true -Daws.region: us-east-1"
    "spark.sql.extensions": org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions
    "spark.sql.catalog.test": org.apache.iceberg.spark.SparkCatalog
    "spark.sql.catalog.test.uri": "http://polaris:8181/api/catalog"
    "spark.sql.catalog.test.type": "rest"
    "spark.sql.catalog.test.warehouse": "test"
    "spark.sql.catalog.test.io-impl": org.apache.iceberg.aws.s3.S3FileIO
    "spark.sql.catalog.test.credential": "root:s3cr3t"
    "spark.sql.catalog.test.scope": "PRINCIPAL_ROLE:ALL"
    "spark.sql.catalog.test.header.X-Iceberg-Access-Delegation": "vended-credentials"
    "spark.sql.catalog.test.token-refresh-enabled": "true"
    "spark.jars.ivy": "/tmp/.ivy"
    "spark.jars.packages": org.apache.hadoop:hadoop-aws:3.3.4,software.amazon.awssdk:bundle:2.29.52,org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.10.0,org.apache.sedona:sedona-spark-3.5_2.12:1.8.0,org.datasyslab:geotools-wrapper:1.8.0-33.1
    "spark.jars.excludes": org.slf4j:slf4j-api,org.slf4j:slf4j-log4j12
    "spark.executorEnv.AWS_REGION": "us-east-1"
    "spark.executorEnv.AWS_ACCESS_KEY_ID": "local-access"
    "spark.executorEnv.AWS_SECRET_ACCESS_KEY": "local-secret"
    "spark.executorEnv.AWS_ENDPOINT_URL_S3": "http://minio:11000"
    "spark.serializer": org.apache.spark.serializer.KryoSerializer
    "spark.kryo.registrator": org.apache.sedona.core.serde.SedonaKryoRegistrator